@charset "UTF-8";

/* 스킨 스타일 */

.outlogin {
  display: none;
}

/* 가로 스크롤 버그 해결 */
.row-remove {
  margin-left: 0;
  margin-right: 0;
}

.latest {
  padding-left: 0;
  padding-right: 0;
}

.dummy-border {
  border: 1px solid #000;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.outlogin {
  display: block;
  margin-bottom: 1rem;
  background-color: #e6e6e6;
  padding: 0.8rem;
}

.outlogin .form-control {
  border: 1px solid #000;
  border-radius: 0;
}

.outlogin .btn-login {
  width: 100%;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.outlogin .btn-login:hover {
  color: #f00;
}

.outlogin-register {
  margin: 0.5rem 0 0 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.outlogin-register li {
  margin-right: 0.4rem;
}
.outlogin-register li:nth-child(2) {
  margin-right: 0;
}

.outlogin-register a {
  color:#000;
}

.outlogin-register a:focus, .outlogin-register a:hover {
  color: #f00;
  text-decoration: none;
}



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}






