@charset "UTF-8";

/* 스킨 스타일 */

.outlogin {
  display: none;
}


.row-remove {
  margin-left: 0;
  margin-right: 0;
}

.latest {
  padding-left: 0;
  padding-right: 0;
}

.dummy-border {
  border: 1px solid #000;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.outlogin {
  display: block;

}




}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}






