@charset "UTF-8";

/* Red2.net v9 */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 255, 0.3);
}

.navbar-brand {
  padding-left: 5.5rem;
  background-image: url("../img/red2mamm.svg");
  background-repeat: no-repeat;
  font-size: 2.3rem;
  letter-spacing: -0.1rem;
}

/* IE11 로고 배경 위치 수정 */
/* Only works in IE11 */
/* http://eond.com/css/365424 */
_:-ms-fullscreen, :root .navbar-brand {
    background-position: -73px 0px;
}

.navbar-brand span {
  font-weight: bold;
}

.navbar {
  padding: 0 1rem 0 0;
}

.navbar-collapse {
  padding: 0.2rem 0rem 0.5rem 1rem;
}

/* 메뉴 화살표 수직 위치 조정 */
.dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* 검색창 */

/* https://www.w3schools.com/css/css3_buttons.asp */
/* https://color.adobe.com/ko/ */

/* 모바일에서 검색창 마진 추가 */
#cse-search-box {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


#cse-keyword {
  width: 180px;
  padding: 5px 10px;
  border: none;
  /*font-size: 1.2rem;*/
}

/* IE11 검색창 높이 조정 */
_:-ms-fullscreen, :root #cse-keyword {
  font-size: 1.3rem;
}

/*
#cse-keyword:hover {
  border: 1px solid #f00;
}
*/

#cse-search-button {
  padding: 5px 10px;
  border: none;
  background-color: #2567FC;
  color: #fff;
  cursor: pointer;
}

/* IE11 에서 검색버튼 위치 조정*/
_:-ms-fullscreen, :root #cse-search-button {
  position: relative;
  top: -4px;
}

#cse-search-button:hover {
  color: #f00;
}

/* 테스트용 */
.div-border * {
  border: 1px solid #000;
}



/* 푸터 */
.footer {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.5rem;
  color: #000;
}

.footer .footer-sns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  /*border: 1px solid #000;*/
  /*margin-bottom: 1.35rem;*/
}

.footer .footer-sns li {
  margin-right: 0.5rem;
}
/* 마지막 목록의 마진 제거 */
.footer .footer-sns li:last-child {
  margin-right: 0;
}

/* SNS 설명 감추기 */
.sns-desc {
  display: none;
}


.footer .footer-link {
  display: flex;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  /*margin-bottom: 1.35rem;*/
}

.footer .footer-link li {
  margin-right: 0.5rem;
}
/* 마지막 목록의 마진 제거 */
.footer .footer-link li:last-child {
  margin-right: 0;
}

.footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 푸터 링크색 */
/* visited 를 지정해줘야 파란색이 안됨 */
.footer-sns a:link, .footer-sns a:visited,
.footer-link a:link, .footer-link a:visited {
  color: #000;
}

.footer-sns a:focus, .footer-sns a:hover,
.footer-link a:focus, .footer-link a:hover {
  color: #f00;
  text-decoration: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
/* SNS 설명 보여주기 */
.sns-desc {
  display: inline;
}

.footer .footer-sns {
  font-size: 1rem;
}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

#cse-search-box {
  margin-top: 0;
  margin-bottom: 0;
}

#cse-search-button {
  display: none;
}

/* 메뉴에 마우스를 올리면 하위 메뉴 나타남 */
/* http://blog.naver.com/scabbard2/220224438042 */
.nav-item:hover > .dropdown-menu {
  display: block;
  margin: 0;
}

.nav-link {
  /*background-color: rgba(0, 0, 0, 0.2); */
  line-height: 1.9rem; /* 마우스 영역 조절하는게 맞는데 잘 안된다.. */
  /*border-left: 1px solid #000;*/
  font-weight: bold;
  font-size: 1rem;
}
/*
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}*/

/* 네비게이션 링크색 */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ff6100;
  border-radius: 0.25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f00;
  text-decoration: underline;
  background-color: #f8f9fa;
}



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

.navbar-brand {
  padding-left: 7.5rem;
  font-size: 3.4rem; /*2.5rem;*/
}

.navbar-collapse {
  padding: 0;
}

.nav-link {
  /*background-color: rgba(0, 0, 0, 0.2); */
  line-height: 4.4rem;
  /*border-left: 1px solid #000;*/
  font-weight: bold;
  font-size: 1.2rem;
}
/*
.nav-link:last-child {
  border-right: 1px solid #000;
}
*/
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* 위키 크기 조정 */
.navbar-nav li:nth-child(2) .nav-link {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

/* 메뉴 화살표 수직 위치 조정 */
.dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* 네비게이션 링크색 */
/*.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}*/

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ff6100;
  border-radius: 0.25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f00;
  text-decoration: underline;
  background-color: #f8f9fa;
}

/* 메뉴에 마우스를 올리면 하위 메뉴 나타남 */
/* http://blog.naver.com/scabbard2/220224438042 */
/*.nav-item:hover > .dropdown-menu {
  display: block;
  margin: 0;
}*/

/* IE11 에서 배경 위치 */
_:-ms-fullscreen, :root .navbar-brand {
    background-position: -108px 0px;
}


#cse-search-button {
  display: inline;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.container {
  max-width: 1280px;
}

}





